.viewData th {
  text-align: left;
  background-color: #d0d0d0;  
  padding: 0px 5px 0px 0px;
}
.viewData tr {
  background-color: #f0f0f0;
}
.viewData td {
  padding: 0px 5px 0px 22px;
}
th, tr .action {
  background-color: white;
  padding: 0px;
}
input.ng-valid {
//  border-color: green;
}
input.ng-invalid {
//  border-color: red;
}
input.ng-pristine {
  border-color: white;
}
span {
  color: red;
}
